<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Boooks</title>
	  <link rel="shortcut icon" href="../static/images/icon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

	<!--
		Oxygen by gettemplates.co
		Twitter: http://twitter.com/gettemplateco
		URL: http://gettemplates.co
	-->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../static/css/style.css">

	<link rel="stylesheet" href="../static/css/icon_animation.css">
	
	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-2">
					<div id="gtco-logo"><a href="../index">Boooks</a></div>
				</div>
				<div class="col-xs-8 text-center menu-1">
					<ul>
						<li><a href="index">Home</a>
                        </li>
                        <li><a href="books">Books</a></li>
                        <li><a href="authors">Authors</a></li>
                        <li><a href="publishers">Publishers</a></li>
                        <li class="active"><a href="about">About</a></li>
						</li>
						
					</ul>
				</div>
				<div class="col-xs-2 text-right hidden-xs menu-2">
					<span><a href="/index"><img class="toprighticon" src="../static/images/icon2.png" style="width:40px"></a></span>
				</div>
			</div>
			
		</div>
	</nav>


<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(../static/images/img_bg_1.jpg);">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>About Us</h1>
							<br><br>
							<p style="color:#fff;">We are a group of 5 students from UT Austin. Overall, we have 6 years experience with software development. The team members include Infromation professionals from iSchool, who provide their special insights from their research experience with users, a student from Mechanical Engineer background, mostly responsible for backend development, and an undergrad member majors in Mathematics who brings interesting ideas to apply.</p>
							</br>
							<p><a href="https://github.com/Paprika69/cs329e-idb/wiki" class="btn btn-default">Github Wiki</a></p>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	
<div id="gtco-team" class="gtco-section">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Our Team</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-1 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="../static/images/joy.png">
						<h3>Qiuying Jiang</h3>
						<strong class="role">QA, DevOps</strong>
						<p>
			                commits:13<br>
			                issues:12<br>
			                unit tests:1<br>
			            </ul></p>
					</div>
				</div>
				<div class="col-md-2 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="../static/images/ben.jpg">
						<h3>Yang Zhong</h3>
						<strong class="role">Project Manager</strong>
						<p>
			                commits:5<br>
			                issues:18<br>
			                unit tests:2<br>
			            </ul></p>
					</div>
				</div>
				<div class="col-md-2 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="../static/images/kx.jpg">
						<h3>Kaijuan Xing</h3>
						<strong class="role">Frontend engineer</strong>
						<p>
			                commits:14<br>
			                issues:15<br>
			                unit tests:9<br>
			            </ul></p>
					</div>
				</div>
				<div class="col-md-2 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="../static/images/suzi.jpg">
						<h3>Xin Su</h3>
						<strong class="role">Frontend engineer</strong>
						<p>
			                commits:21<br>
			                issues:6<br>
			                unit tests:2<br>
			            </ul></p>

					</div>
				</div>
				<div class="col-md-2 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="../static/images/zhou.gif">
						<h3>Shengke Zhou</h3>
						<strong class="role">Backend engineer</strong>
						<p>
			                commits:28<br>
			                issues:5<br>
			                unit tests:2<br>
			            </ul></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	


	<div id="gtco-counter" class="gtco-bg gtco-counter" style="background-image:url(../static/images/img_bg_2.jpg);">
			<div class="gtco-container">
				<div class="row">
					<div class="display-t">
						<div class="display-tc">
							<div class="col-md-3 col-sm-6 animate-box">
								<div class="feature-center">
									<span class="icon">
										<i class="icon-keyboard"></i>
									</span>

									<span class="counter js-counter" data-from="0" data-to="87" data-speed="4000" data-refresh-interval="50">1</span>
									<span class="counter-label">Commits</span>
									<br><br>
									<p><a href="https://github.com/Paprika69/cs329e-idb" class="btn btn-primary">Github Repo</a></p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 animate-box">
								<div class="feature-center">
									<span class="icon">
										<i class="icon-clipboard"></i>
									</span>

									<span class="counter js-counter" data-from="0" data-to="56" data-speed="4000" data-refresh-interval="50">1</span>
									<span class="counter-label">Issues</span>
									<br><br>
									<p><a href="https://github.com/Paprika69/cs329e-idb/issues" class="btn btn-primary">Github Issues</a></p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 animate-box">
								<div class="feature-center">
									<span class="icon">
										<i class="icon-ruler"></i>
									</span>
									<span class="counter js-counter" data-from="0" data-to="16" data-speed="4000" data-refresh-interval="50">1</span>
									<span class="counter-label">Unit Tests</span>
									<br><br>
									<p><a href="/tests" class="btn btn-primary">Run Tests</a></p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 animate-box">
								<div class="feature-center">
									<span class="icon">
										<i class="icon-database"></i>
									</span>

									<span class="counter js-counter" data-from="0" data-to="271" data-speed="4000" data-refresh-interval="50">1</span>
									<span class="counter-label">Data Entries</span>
									<br><br>
									<p><a href="http://www.cs.utexas.edu/~fares/cs329ef17/CS%20373_files/tutorials/books.json" class="btn btn-primary">Data Source</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	<footer id="gtco-footer" role="contentinfo" >
		<div class="gtco-container">

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; <span>2017</span> Developed by <a href="https://github.com/Paprika69/cs329e-idb/tree/master">CS329E-Boooks</a></small> 
					</p>
					<!-- <p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li>
								<a href="https://github.com/Paprika69/cs329e-idb/tree/master">
                                <img src="../static/images/giticon.png" width="20px" height="20px">
                            </a>
							</li>
						</ul>
					</p> -->
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="../static/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="../static/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="../static/js/main.js"></script>

	</body>
</html>

