<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
        <!-- Basic Page Needs
        ================================================== -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!--<link rel="icon" type="image/png" href="../static/images/favicon.png">-->
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="../static/css/ionicons.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="../static/css/animate.css">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="../static/css/slider.css">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="../static/css/owl.carousel.css">
        <link rel="stylesheet" href="../static/css/owl.theme.css">
        <link rel="stylesheet" href="../static/css/jquery.fancybox.css">
        <!-- template main css file -->
        <link rel="stylesheet" href="../static/css/main.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="../static/css/responsive.css">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="../static/js/owl.carousel.min.js"></script>
        <!-- bootstrap js -->

        <script src="../static/js/bootstrap.min.js"></script>
        <!-- wow js -->
        <script src="../static/js/wow.min.js"></script>
        <!-- slider js -->
        <script src="../static/js/slider.js"></script>
        <script src="../static/js/jquery.fancybox.js"></script>
        <!-- template main js -->
        <script src="../static/js/main.js"></script>

</head>
<body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="/index" >
                            <img src="../static/images/logo.png" style="height:54px;width:240px; position:relative; top:-15px; left:0px;" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index" >Home</a>
                            </li>
                            <li><a href="books">Books</a></li>
                            <li><a href="authors">Authors</a></li>
                            <li><a href="publishers">Publishers</a></li>
                            <li><a href="about">About</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>


        <!--
        ==================================================
        Slider Section Start
        ================================================== -->
        <section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">

                            <!-- Slider -->
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>HI, HERE YOU CAN SEARCH</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">BOOKS</b>
                                    <b>AUTHORS</b>
                                    <b>PUBLISHERS</b>
                                </span>
                                </h1>
                                </section> <!-- cd-intro -->
                                <!-- /.slider -->
                                <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >

                                    BOOKS START HERE CHANGED THE WORLD!
                                </h2>
                                 <a  class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green" data-wow-delay=".9s" href="books">Start</a>

                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->


            <!--
            ==================================================
            Slider Section Start
            ================================================== -->
        <div style="background-color:red;" width="100%" height="100px"></div>
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                ABOUT OUR GROUP
                                </h2>
                                <p>
                                    Hello, we're group Five Guys from UT Austin.We are five guys including four masters and an undergrad. Overall, we have 6 years experience of software development. The team members are Infromation professionals from iSchool, who provide their special insights from the their research experience with information users. One of our member comes from Electrical Engineer background, he is mostly responsible for providing solid technical solutions. Our undergrad member majors in Mathatics and he brings interesting ideas to apply.
                                </p>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                                <img src="../static/images/about/about.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        <!--==================================================-->
        <!--Footer Section Start-->
        <!--================================================== -->
        <footer id="footer">
            <div class="container">
                <div class="col-md-6">
                    <p class="copyright">Copyright: <span>2017</span> . Design and Developed by <a href="https://github.com/Paprika69/cs329e-idb/tree/master">CS329e-Five Guys</a></p>
                    <!--<img src="../static/images/giticon.png" width="20px" height="20px">-->
                </div>
                <div class="col-md-6">
                    <!-- Social Media -->
                    <ul class="social">
                        <li>
                            <a href="https://github.com/Paprika69/cs329e-idb/tree/master">
                                <img src="../static/images/giticon.png" width="20px" height="20px">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer> <!-- /#footer -->




</body>
</html>