<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Boooks</title>
  <link rel="shortcut icon" href="../static/images/icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
  <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  <meta name="author" content="gettemplates.co" />

  <!--
    Oxygen by gettemplates.co
    Twitter: http://twitter.com/gettemplateco
    URL: http://gettemplates.co
-->

<!-- Facebook and Twitter integration -->
<meta property="og:title" content=""/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->

<!-- Animate.css -->
<link rel="stylesheet" href="../static/css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="../static/css/icomoon.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="../static/css/bootstrap.css">

<!-- Magnific Popup -->
<link rel="stylesheet" href="../static/css/magnific-popup.css">

<!-- Owl Carousel  -->
<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
<link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

<!-- Theme style  -->
<link rel="stylesheet" href="../static/css/style.css">

<!-- Modernizr JS -->
<script src="../static/js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  <!-- for datatable -->
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">



  <!-- for datatables -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/icon_animation.css">
</head>

<body>

    <div class="gtco-loader"></div>

    <div id="page">
      <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
          <div class="row">
            <div class="col-xs-2">
              <div id="gtco-logo"><a href="../index">Boooks</a></div>
          </div>
          <div class="col-xs-8 text-center menu-1">
              <ul>
                <li><a href="../index">Home</a>
                </li>
                <li><a href="../books">Books</a></li>
                <li><a href="../authors">Authors</a></li>
                <li class="active"><a href="../publishers">Publishers</a></li>
                <li><a href="../about">About</a></li>
            </li>
            
        </ul>
    </div>
    <div class="col-xs-2 text-right hidden-xs menu-2">
                    <span><a href="/index"><img class="toprighticon" src="../static/images/icon2.png" style="width:40px"></a></span>
                </div>
</div>

</div>
</nav>



<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(../static/images/img_bg_1.jpg); height:100%"> 

    <div id="gtco-features-2" style="background-color:rgba(0, 0, 0, 0);">
        <div class="gtco-container">
            <br><br><br>
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-printer"></i>
                        </span>
                        <div class="feature-copy">
                             <h2 style="color:#fff">{{publisher.name}}</h2>
                            <h4 style="color:#fff">{{publisher.owner}}</h4>
                            <a href="{{publisher.website}}"><h4 style="color:#fff"><u>Website</u></h4></a>
                            <p style="color:#fff">{{publisher.description}}</p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-book"></i>
                        </span>
                        <div class="feature-copy">
                            <h3 style="color:#fff">Books: </h3>
                            {% for book in publisher.books %}
                              <a href="/books/{{book.title}}"><h4 style="color:#fff"><u>{{book.title}}</u></h4></a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-feather"></i>
                        </span>
                        <div class="feature-copy">
                            <h3 style="color:#fff">Authors: </h3>
                            {% for author in publisher.authors %}
                              <a href="/publishers/{{publisher.name}}"><h4 style="color:#fff"><u>{{author.name}}</u></h4></a>
                            {% endfor %}
                        </div>
                    </div>
                    </br>
                    <p><a class="btn btn-lg btn-success" href="/publishers" role="button">Back to Publishers</a></p>
                </div>

            <div class="col-md-6">
                <div class="gtco-video gtco-bg" style="width:300px; height:100%;  margin-left:100px;">
                    <img src="{{publisher.image_url}}" style="width:100%;height:100%;" alt="">
                </div>
            </div>
        </div>
    </div>
</header>


<footer id="gtco-footer" role="contentinfo">
    <div class="gtco-container">

      <div class="row copyright">
        <div class="col-md-12">
          <p class="pull-left">
            <small class="block">&copy; <span>2017</span> Developed by <a href="https://github.com/Paprika69/cs329e-idb/tree/master">CS329E-Boooks</a></small> 
        </p>
          <!-- <p class="pull-right">
            <ul class="gtco-social-icons pull-right">
              <li>
                <a href="https://github.com/Paprika69/cs329e-idb/tree/master">
                                <img src="../static/images/giticon.png" width="20px" height="20px">
                            </a>
              </li>
            </ul>
        </p> -->
    </div>
</div>

</div>
</footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>


<!-- jQuery Easing -->
<script src="../static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="../static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="../static/js/main.js"></script>


<script src="../static/js/ie10-viewport-bug-workaround.js"></script>

<!-- for datatables -->
<script>
$(document).ready(function() {
    $('#table').DataTable({
      "order": [[ 0, "asc" ]],
      "iDisplayLength": 50
  });

});
</script>

</body>
</html>
